#map,
body,
html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.legend {
    background-color: gray;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 8px;
}

.legend i {
    float: left;
    margin-right: 8px;
    width: 18px;
    height: 18px;
}